*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 10px 0px;
}
.navbar ul li{
    font-family: 'Abril Fatface', cursive;
    font-size: 1rem;
    font-weight: lighter;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .3s ease-in;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 8px white;
}
#start{
    display: flex;
    flex-direction: column;
    background-color:rgba(0,0,0,0.3);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#start::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('kissat.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .7;
}
.headings{
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5rem;
    text-align: center;
    margin: 60px 0px 30px 0px;
}
#about a{
    text-decoration: none;
    color: white;
}
#about a:hover{
    text-decoration: underline;
}
#intro{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
#intro h2{
    font-family: 'Abril Fatface', cursive;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 5%;
    justify-content: center;
}
.grid > div {
    background: rgba(0,0,0,0.3);
    padding: 1.5rem;
}
.carousel-item{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}
img{
    max-width: 100%;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}