*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: 'Abril Fatface', cursive;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}
#start{
    display: flex;
    flex-direction: column;
    background-color:rgba(0,0,0,0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#start::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('kissat.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.headings{
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}
#about a{
    text-decoration: none;
    color: #448D76;
}
#about a:hover{
    text-decoration: underline;
}
#pic{
    display: flex;
}
#pic img{
    width: 50%;
    height: auto;
}
#intro{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-family: 'Abril Fatface', cursive;
    font-size: 2rem;
    margin-bottom: 20px;
}
#pictures{
    display: flex;
    flex-direction: column;
    background-color: #23483C;
    color: white;
    align-items: center;
    padding: 20px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 50%;
    height: auto;
    margin: 10px;
}